<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
<div class="form-card">
    <form method="POST" action="/add">
    <label for="author">Author:</label><br>
    <input type="text" id="author" name="author"><br>

    <label for="title">Title:</label><br>
    <input type="text" id="title" name="title"><br>

    <label for="content">Content:</label><br>
    <textarea id="content" name="content">
    </textarea><br>

    <input type="submit" value="Submit">
</div>
    <div class="btn-wrapper-back">
    <a class="btn" href="{{ url_for('index') }}">Zurück</a>
    </div>
</body>
</html>